<style>
        input.ng-touched.ng-invalid{
          border-color: rgb(252, 57, 57);;
        }
        
        tr:hover{
            background-color:rgb(204, 204, 204);
        }

        th{
            background-color:rgb(43, 43, 48);
            color: white;
        }

        input:hover{
            border-color: black;
            width: 550px;

        }

        input{
            width: 500px;
        }

        button:hover{
            background-color: rgb(247, 247, 247);
            color: rgb(233, 41, 41);
            width: 250px;
            /* transform: rotate(5deg); */

        }

        body{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    </style>
    
    <body style="background-color: rgb(236, 236, 236)">
        
    <br>
    <div class="container">
    <div class="row">
            <div style="background-color: whitesmoke" class="col-md-12">
    <br>
    <h3>Add New Items</h3>
    
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <input type="hidden" name="Item_Id" #Item_Id="ngModel" [(ngModel)]="service.formDataItem.Item_Id">
        
        <div class="form-group">
            <input name="ItemName" #ItemName="ngModel" [(ngModel)]="service.formDataItem.ItemName" 
            class="form-control" placeholder="Item Name" required>
        </div>
    
        <div class="form-group">
            <input name="Brand" #Brand="ngModel" [(ngModel)]="service.formDataItem.Brand" 
            class="form-control" placeholder="Brand" required>
        </div>
    
        <div class="form-group">
            <input name="Cost" #Cost="ngModel" [(ngModel)]="service.formDataItem.Cost" 
            class="form-control" placeholder="Cost" required>
        </div>
    
        <div class="form-group">
            <input name="Price" #Price="ngModel" [(ngModel)]="service.formDataItem.Price" class="form-control" 
            placeholder="Price" required>
        </div>
    
        <div class="form-group">
            <button class="btn btn-danger" type="submit"  [disabled]="form.invalid">
                    ✔  ADD ITEM
            </button>
        </div>
    </form>
    
    </div>
        <div style="margin-top: 10px; background-color: whitesmoke" class="col-md-12">
            <br>
                <h3>Items Details</h3>
                            
                <table class="table table-hover">
                    <th>📌 Item ID</th>
                    <th>Item Name</th>
                    <th>Brand</th>
                    <th>Cost</th>
                    <th>Price</th>
                    <th>Delete</th>
                    <tr *ngFor="let items of service.listItem">
                        <td style="color: rgb(126, 2, 2);;text-align : center">{{items.Item_Id}}</td>
                        <td>{{items.ItemName}}</td>
                        <td>{{items.Brand}}</td>
                        <td>{{items.Cost}} Rs</td>
                        <td>{{items.Price}} Rs</td>
                        <td id="i"><i style="color: rgb(255, 0, 0); font-size: 30px;width: 28px;" (click)="delete(items.Item_Id)"><b>🗑</b></i></td>
                    </tr>
                </table>
        </div>
    </div>
    </div>

</body>