<style>
  button{
    width: 240px;
    height: 50px;;
    margin-left: 20px;
    -ms-transform: skewY(3deg); /* IE 9 */
  -webkit-transform: skewY(3deg); /* Safari 3-8 */
  transform: skewY(3deg);
  }

  button:hover{
    width: 280px;
    height: 50px;
    margin-left: 20px;
    /* opacity: 0.6; */
    background-color: beige;
    color: black;
    font-size: 18px;
    transform: rotate(5deg);

  }

  h4{
    text-align:center;
  }
  
  body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
</style>

<body>
<br>
<h4 style="font-size: 80px;"> 🐱‍👤 NinJa FOrT </h4>
<hr>
<div style="text-align : center;" class="container">
  <button routerLink="/Customer" class="btn btn-dark"> ADD CUSTOMER</button>
  <button routerLink="/items" class="btn btn-dark">ADD ITEMS</button>
  <button routerLink="/invoice" class="btn btn-dark">BUY ITEMS</button>
</div>
</body>
<router-outlet></router-outlet>