<style>
  button{
    width: 180px;
    margin-left: 20px;
  }

  button:hover{
    width: 180px;
    margin-left: 20px;
    /* opacity: 0.6; */
    background-color: beige;
    color: black;
  }

  h4{
    text-align:center;
  }
  
  body{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
</style>

<body>
<br>
<h4 style="font-size: 80px;"> 🐱‍👤 </h4>
<hr>
<div style="text-align : center;" class="container">
  <button routerLink="/Customer" class="btn btn-primary"> ADD CUSTOMER</button>
  <button routerLink="/items" class="btn btn-primary">ADD ITEMS</button>
  <button routerLink="/invoice" class="btn btn-primary">BUY ITEMS</button>
</div>
</body>
<router-outlet></router-outlet>