<style>
  button{
    width: 240px;
    height: 50px;;
    margin-left: 20px;
    /* -webkit-transform: skewX(24deg); */
    /* transform: skewX(24deg); */
  }

  img{
    height: 100px;
    width: 100px;
    margin-top: -8px;
  }

  button:hover{
    width: 320px;
    height: 50px;
    margin-left: 20px;
    /* opacity: 0.6; */
    background-color: rgb(247, 247, 247);
    color: rgb(233, 41, 41);
    border-color: rgb(233, 41, 41);
    font-size: 18px;
    transform: rotate(0deg);
  }

  h4{
    text-align:center;
  }
  
  body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
</style>

<body style="background-color: rgb(236, 236, 236)">
<!-- <br>
<h4 style="font-size: 80px;"><img src="../assets/img/ninja2.png"> NinJa TEch </h4>
<hr> -->
<br>
<div style="text-align : center;" class="container">
  <button routerLink="/Customer" class="btn btn-dark"> ADD CUSTOMER</button>
  <button routerLink="/items" class="btn btn-dark">ADD ITEMS</button>
  <button routerLink="/invoice" class="btn btn-dark">BUY ITEMS</button>
</div>
</body>
<router-outlet></router-outlet>