<style>
        tr:hover{
            background-color:rgb(204, 204, 204);
        }


        th{
            background-color:rgb(43, 43, 48);
            color: white;
        }

        input:hover{
            border-color: black;
        }

        select:hover{
            border-color: black;
        }

        button:hover{
            background-color: beige;
            color: black;
            width: 180px;
            /* transform: rotate(5deg); */
        }
        body{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        #sigle{
           
            margin-left: 75px;
        }
    </style>
    
    <body>
    <div class="container">
    <div class="row">
        <div style="margin-right: 50px;" class="col-md-6">
        <br>
        <h3>Order Items</h3>
    
        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
            <input type="hidden" name="Invoice_Id" #Invoice_Id="ngModel" [(ngModel)]="service.formDataItemB.Invoice_Id">

        <div class="form-group">
        <select required class="custom-select" name="Customer_Id" #Customer_Id="ngModel" [(ngModel)]="service.formDataItemB.Customer_Id"
        (change)="chechustomer($event.target)">
          <option value="">Select Customer Id </option>
          <option *ngFor="let customers of service.list">{{customers.Customer_Id}}</option>
        </select>
        </div>

        <div class="form-group">
            <select required class="custom-select"name="Item_Id" #Item_Id="ngModel" [(ngModel)]="service.formDataItemB.Item_Id"
            (change)="updatePrice($event.target)" >
                <option value="0">Select Item</option>
                <option *ngFor="let items of service.listItem">{{items.ItemName}}</option>
            </select>
        </div>
    
        <div class="form-group">
            <input name="Quanty" #Quanty="ngModel" [(ngModel)]="service.formDataItemB.Quanty" (keyup)="updateTotol()"
            class="form-control" placeholder="Quantity" type="number" required>
        </div>
        {{discountadded}}
        <div class="form-group">
                <input name="Price" #Price="ngModel" [(ngModel)]="service.formDataItemB.Price" 
                class="form-control" placeholder="Price" type="number" required>
        </div>

        <div class="form-group">
            <button class="btn btn-danger" type="submit" [disabled]="form.invalid">
                ✔ Order Now
            </button>
        </div>
    </form>
    </div>

        <div id="duo" class="col-md-6.4">

        <br>
                <h3>Multipul Items purchased Details</h3>
                            
                <table class="table table-hover">
                    <th>📌 Invoice Id</th>
                    <th>Customer Id</th>
                    <th>Item </th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <tr *ngFor="let pur of service.listInvoiceTwo">
                        <td style="color: rgb(126, 2, 2);;text-align : center">{{pur.Invoice_Id}}</td>
                        <td>{{pur.Customer_Id}}</td>
                        <td>{{pur.Item_Id}}</td>
                        <td>{{pur.Quanty}}</td>
                        <td style="color: goldenrod;text-align : center">{{pur.Price}} Rs</td>
                    </tr>
                </table>
        </div>

        <div id="sigle" class="col-md-5.5">
                <br>
                    <h3>Single Item purchased Details</h3>
                                
                    <table class="table table-hover">
                        <th>📌 Invoice Id</th>
                        <th>Customer Id</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <tr *ngFor="let pur of service.listInvoice">
                            <td style="color: rgb(126, 2, 2);;text-align : center">{{pur.Invoice_Id}}</td>
                            <td>{{pur.Customer_Id}}</td>
                            <td>{{pur.Item_Id}}</td>
                            <td>{{pur.Quanty}}</td>
                            <td style="color: goldenrod;text-align : center">{{pur.Price}} Rs</td>
                        </tr>
                    </table>
    
                    
            </div>
    </div>

    </div>

    </body>
    