<style>
input.ng-touched.ng-invalid{
          border-color: rgb(252, 57, 57);;
        }

    tr:hover{
        background-color:rgb(204, 204, 204);
    }

    th{
        background-color:rgb(43, 43, 48);
        color: white;
    }

    button:hover{
        background-color: beige;
        color: black;
        width: 180px;
        /* transform: rotate(5deg); */
    }

    body{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    input:hover{
        border-color: black;
    }

</style>

<body>
    
<div class="container">
<div class="row">
    <div style="margin-right: 50px;" class="col-md-5">
<br>
<h3>Add New Customer</h3>

<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    
    <input type="hidden" name="Customer_Id" #Customer_Id="ngModel" [(ngModel)]="service.formData.Customer_Id">
    
    <div class="form-group">
        <input name="Customer_Name" #Customer_Name="ngModel" [(ngModel)]="service.formData.Customer_Name" 
        class="form-control" placeholder="Customer Name" required>
    </div>

    <div class="form-group">
        <input name="Address" #Address="ngModel" [(ngModel)]="service.formData.Address" 
        class="form-control" placeholder="Address" required>
    </div>

    <div class="form-group">
        <input name="Mobile" #Mobile="ngModel" [(ngModel)]="service.formData.Mobile" 
        class="form-control" type="number" placeholder="Mobile" required maxlength="10" minlength="10">
    </div>

    <!-- <div class="form-group">
            <input name="Mobile" #Mobile="ngModel" [(ngModel)]="service.formData.Mobile" 
            pattern="^\d{10}$" 
              [class.is-invalid]="Mobile.invalid && Mobile.touched"
            class="form-control" type="number" placeholder="Mobile" required>
    
            <div *ngIf="Mobile.errors && (Mobile.invalid || Mobile.touched)">
                    <small class="text-danger" *ngIf="Mobile.errors.required"></small>
                    <small class="text-danger" *ngIf="Mobile.errors.pattern"><b>Mobile num must in 10 digits</b></small>
                </div>
        </div> -->

    <div class="form-group">
        <input name="AllowDiscount" type="number" #AllowDiscount="ngModel" [(ngModel)]="service.formData.AllowDiscount" class="form-control" 
        placeholder="Allow Discount" required>
    </div>

    <div class="form-group">
        <input name="Total_Cradit" type="number" #Total_Cradit="ngModel" [(ngModel)]="service.formData.Total_Cradit" class="form-control" 
        placeholder="Total Cradit" required>
    </div>

    <div class="form-group">
        <button class="btn btn-danger" type="submit"  [disabled]="form.invalid">
                ✔ ADD CUSTOMER
        </button>
    </div>
</form>

</div>
    <div class="col-md-8">
        <br>
            <h3>Items Details</h3>
                        
            <table class="table table-hover">
                <th>📌 Customer ID</th>
                <th>Customer Name</th>
                <th>Address</th>
                <th>Mobile No</th>
                <th>Discount</th>
                <th>Credit</th>
                <tr *ngFor="let customers of service.list">
                    <td style="color: rgb(126, 2, 2);text-align : center">{{customers.Customer_Id}}</td>
                    <td>{{customers.Customer_Name}}</td>
                    <td>{{customers.Address}}</td>
                    <td>{{customers.Mobile}}</td>
                    <td>{{customers.AllowDiscount}} %</td>
                    <td>{{customers.Total_Cradit}} Rs</td>
                </tr>
            </table>
    </div>
</div>
</div>

</body>
